@import "../../../styles/variables";

.container {
	max-width: 1392px;
	width: 100%;
	margin: 120px auto;
	color: $color-white;

	@media (max-width: 1392px) {
		padding: 0 24px;
	}

	@media (max-width: 567px) {
		margin: 48px auto;
	}

	.title {
		color: $color-white;
		font-size: 45px;
		font-weight: 900;
		margin-bottom: 70px;

		@media (max-width: 768px) {
			font-size: 32px;
		}
	}

	.body {
		.sections {
			display: flex;
			flex-wrap: wrap;
			gap: 15px;

			@media (max-width: 768px) {
				justify-content: center;
			}

			.item {
				cursor: pointer;
				background-color: #2b3040;
				border-radius: 5px;
				color: $color-white;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				max-width: 217px;
				min-height: 130px;
				padding: 15px;
				width: 100%;

				&:hover {
					background-color: #151825;
				}

				@media (max-width: 570px) {
					max-width: unset;
				}

				span {
					font-size: 26px;
				}

				.title {
					font-size: 15px;
					font-weight: 700;
					margin: 0;
				}
			}
		}
	}
}

.advantages {
	background: #151825;
	border-radius: 20px;
	color: #fff;
	margin: 50px auto;
	min-height: 284px;
	overflow: hidden;
	max-width: 1392px;
	width: calc(100% - 100px);

	@media (max-width: 1392px) {
		width: calc(100% - 48px);
	}

	.container {
		height: 100%;
		margin: 0 auto;
		width: 100%;
		max-width: 1244px;
		padding: 0 20px;

		.cover {
			padding: 47px 0 0 80px;
			position: relative;

			@media (max-width: 768px) {
				padding: 47px 0 0 50px;
			}

			@media (max-width: 576px) {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 284px;
				justify-content: center;
				padding: 0;
			}

			&:before {
				background: url("/assets/images/footer-shape.png") no-repeat;
				content: "";
				height: 284px;
				max-width: 654px;
				position: absolute;
				right: -360px;
				top: 0;
				width: 100%;

				@media (max-width: 576px) {
					max-width: 100%;
					right: -80px;
				}
			}

			.title {
				color: #fff;
				font-size: 30px;
				font-weight: 500;
				margin-bottom: 24px;
				max-width: 652px;
				line-height: 35px;
				width: 100%;
				z-index: 2;

				@media (max-width: 768px) {
					font-size: 30px;
				}

				@media (max-width: 576px) {
					font-size: 22px;
					margin-top: 10px;
					max-width: 100%;
					text-align: center;
				}
			}

			.button {
				cursor: pointer;
				width: fit-content;
				z-index: 2;
			}
		}
	}
}