<div class="sign-form">
	<div class="sign-form-container">
		<div class="form-title">
			<span>Sign in to your Account</span>
		</div>
		<div class="form-area">
			<div class="area-tabs">
				<div class="tabs">
					<a href="/sign-in/" class="tab active">Log In</a>
					<a href="/sign-up/" class="tab" [routerLink]="['/sign-up']">Sign Up</a>
				</div>
			</div>
			<form [formGroup]="formGroup">
				<div *ngIf="loginError" class="form-input">
					<div class="hint danger">Invalid email or password</div>
				</div>

				<div class="form-input">
					<label class="input-label">Email</label>
					<input type="email" class="input input-value" required formControlName="email" />
					<div class="input-tooltip">
						It is not possible to change the email address in the future. If you specify a non-existent or
						incorrect email address, it will not be possible to withdraw funds from your account.
					</div>
				</div>

				<div class="form-input">
					<label class="input-label">Password</label>
					<input [type]="showPassword ? 'text' : 'password'" class="input input-value" formControlName="password" required>
					<div class="btn-password" *ngIf="password?.value">
						<span *ngIf="!showPassword" class="icon-show-password" (click)="showPassword = true"></span>
						<span *ngIf="showPassword"class="icon-hide-password" (click)="showPassword = false"></span>
					</div>
				</div>

				<div class="checked-mark-area">
					<div class="checkmark-container">
						<label class="checkmark-label">
							<input class="input-checked" type="checkbox" checked="checked">
							<span class="checkmark"></span>
							Remember me
						</label>
						<a href="" class="forgot" [routerLink]="['/password-recovery']">Forgot your password?</a>
					</div>
				</div>

				<button class="btn form-button" (click)="login()">
					<div>Sign In</div>
					<span class="icon-button"></span>
				</button>
			</form>

			<div class="form-footer">
				<div class="header">
					<div class="text">Login with</div>
				</div>

				<div class="form-social">
					<a class="social-button facebook">
						<i class="icon icon-facebook-login"></i>
					</a>
					<a class="social-button google">
						<i class="icon icon-google"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
