<div class="footer">
    <ul class="advantages">
        <li>
            <span class="icon-promo-bank"></span>
            Minimum deposit amount:
            <span>{{ 10 | currency }}</span>
        </li>
        <li>
            <span class="icon-promo-card"></span>
            Minimum withdrawal amount:
            <span>{{ 10 | currency }}</span>
        </li>
        <li>
            <span class="icon-promo-item"></span>
            Quick withdrawal from your account
        </li>
        <li>
            <span class="icon-promo-percent"></span>
            Without a fee
        </li>
    </ul>
    <div class="brands">
        <div class="wrapper">
            <div class="brands-item">
                <img    src="assets/images/brands/secure-verified-dark.png" 
                        srcset="assets/images/brands/secure-verified-dark@2x.png 2x, assets/images/brands/secure-verified-dark@3x.png 3x"
                        alt="Verified by Visa">
            </div>
            <div class="brands-item">
                <img    src="assets/images/brands/secure-securepayment-dark.png" 
                        srcset="assets/images/brands/secure-securepayment-dark@2x.png 2x, assets/images/brands/secure-securepayment-dark@3x.png 3x"
                        alt="Secure Payment">
            </div>
            <div class="brands-item">
                <img    src="assets/images/brands/secure-securecode-dark.png" 
                        srcset="assets/images/brands/secure-securecode-dark@2x.png 2x, assets/images/brands/secure-securecode-dark@3x.png 3x"
                        alt="MasterCard SecureCode">
            </div>
            <div class="brands-item">
                <img    src="assets/images/brands/secure-3dsecure-dark.png" 
                        srcset="assets/images/brands/secure-3dsecure-dark@2x.png 2x, assets/images/brands/secure-3dsecure-dark@3x.png 3x"
                        alt="3D Secure">
            </div>
            <div class="brands-item">
                <img    src="assets/images/brands/secure-ssl-dark.png" 
                        srcset="assets/images/brands/secure-ssl-dark@2x.png 2x, assets/images/brands/secure-ssl-dark@3x.png 3x"
                        alt="SSL Encryption">
            </div>
        </div>
    </div>
</div>