$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #0faf59;
$color-green-hover: #05c55e;
$color-green-bs: rgba(53,184,114,.25);
$color-grey-btn: #2b3040;
$color-grey: rgba(255, 255, 255, .7);
$color-light-grey: rgba(255, 255, 255, .9);
$color-dark: #353a4d;
$color-dark-4: rgba(255, 255, 255, 0.05);
$form-color: #444b5d;
$color-dark-3: rgba(255, 255, 255, 0.1);
$form-footer-head: #7e859d;
$color-blue: #2b99ff;
$color-blue-2: #0989ff;
$color-grey-2: #8D94AB;
$color-grey3: #9A9DA6;
$setings-bckg: #1c1f2d;
$settings-btn-bckg: #026fd3;
$color-black-2: hsla(0, 0%, 100%, .3);
$color-black-3: hsla(0, 0%, 100%, .1);
$color-black-4: hsla(0, 0%, 100%, .2);
$color-black-5: hsla(0, 0%, 100%, .5);
$color-black-6: hsla(0, 0%, 100%, .15);
$color-dark-blue: #212634;
$color-error: #ff6251;
$color-red: #ff6251;
$color-red-2: #db4635;
$color-red-hover: #ff402b;
$color-dropdown-bg: #191919;
$color-link-hover: hsla(0, 0%, 100%, .8);
$color-modal-bg-fon: rgba(28, 31, 45, .8);
$color-modal-bg: rgba(28, 32, 46, 0.2);
$color-button-dark-hover: rgba(105, 115, 152, .3);

$color-grey-bg: #2b3040;

$dropdown-color-grey: #494f65;
$dropdown-bg-color: #191919;

$scrollbar-color:  rgba(53, 58, 77, 0.3);

$google-svg: url("../assets/images/google.svg");
$facebook-svg: url("../assets/images/facebook-login.svg");

$chart-bg-button: hsla(0, 0%, 100%, .05);

$media-breakpoint-sm: 568px;
$media-breakpoint-sm-max: 567px;
$media-breakpoint-md-max: 1023px;
