@import "../../../../styles/_variables";

.deal {
	display: flex;
	flex-direction: column;
	position: relative;

	@media (max-width: 1023px) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.header {
		align-items: center;
		display: flex;
		font-size: 14px;
		font-weight: 900;
		line-height: 18px;
		margin-bottom: 10px;

		@media (max-width: 1023px) {
			margin: 0 auto 15px 0;
			order: 1;
			width: calc(50% - 15px);
		}
	}

	.flags {
		color: #353a4d;
		margin-right: 10px;
	}

	.name {
		margin-right: auto;
	}

	.percent {
		color: hsla(0, 0%, 100%, .3);
	}
}

.form {
	margin: 0 -10px 20px;

	@media (max-width: 1023px) {
		align-items: center;
		display: flex;
		margin: 0 -5px 15px;
		order: 3;
		width: 100%;
	}

	@media (max-width: 567px) {
		margin: 0 0 10px;
	}

	.input-control {
		&-label {
			color: hsla(0, 0%, 100%, 0.3);
			background-color: $color-grey-bg !important;

			@media (max-width: 567px) {
				background-color: #1c1f2d !important;
				color: hsla(0, 0%, 100%, 0.3) !important;
				font-size: 12px;
				line-height: 16px;
			}
		}

		&-label-switch {
			background-color: #2b3040 !important;
			bottom: -8px;
			color: #2b99ff;
			cursor: pointer;
			font-size: 10px;
			font-weight: 900;
			left: 50%;
			line-height: 12px;
			padding: 2px 4px;
			position: absolute;
			text-transform: uppercase;
			transform: translate(-50%, 1px);
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			width: -moz-max-content;
			width: max-content;
		}

		&-button {
			cursor: pointer;
			background-color: #676b79;
			border: none;
			border-radius: 50%;
			color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			height: 24px;
			padding: 0;
			transition: inherit;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			width: 24px;
		}

		&-input {
			color: #FFFFFF;

			&.time {
				cursor: pointer;
			}
		}

		&-dropdown {
			background-color: #353a4d;
			box-shadow: 2px 2px 6px rgba(53, 58, 77, 0.2);
			flex-flow: row wrap;
			padding: 0;
			width: calc(100% - 19px);
			pointer-events: all !important;
	  
			&.hidden {
				visibility: hidden;
				pointer-events: none;
				opacity: 0;
			}
	  
			.option {
				background: hsla(0, 0%, 100%, 0.1);
				border-radius: 4px;
				cursor: pointer;
				flex-grow: 1;
				font-size: 12px;
				font-weight: 400;
				justify-content: center;
				line-height: 16px;
				margin: 2.5px;
				min-height: auto;
				min-width: calc(25% - 5px);
				padding: 10px 5px;
				transition: inherit;
				white-space: nowrap;
				text-align: center;
				pointer-events: auto;
		
				&:hover {
					box-shadow: inset 0 0 0 1px #FFFFFF;
					color: inherit;
				}
			}
		}
	}

	.deal-time {
		flex-basis: 0;
		flex-grow: 1;
		margin: 0 10px;
		position: relative;

		.input-control {
			@media (max-width: 1023px) {
				display: none !important;
			}
		}

		@media (max-width: 567px) {
			margin: 0 12px 0 0;
		}

		.mobile-time-input {
			display: none;
			position: relative;

			@media (max-width: 1023px) {
				display: block;
			}

			.input-control {
				@media (max-width: 1023px) {
					display: block !important;
				}
			}
		}
	}

	.deal-investment {
		flex-basis: 0;
		flex-grow: 1;
		margin: 14px 10px 0;
		padding-top: 1px;
		position: relative;

		@media (max-width: 1023px) {
			margin-top: 0;
			padding-top: 0;
		}

		@media (max-width: 567px) {
			margin: 0;
		}

		.input-control {
			&-label-switch {
				@media (max-width: 567px) {
					background-color: #1c1f2d !important;
					bottom: -5px;
					padding: 0 4px;
				}
			}
		}
	}
}

.put {
	@media (max-width: 1023px) {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		order: 4;
		width: 100%;
	}

	@media (max-width: 567px) {
		width: 100%;
	}

	.button {
		align-items: center;
		background: none;
		border: none;
		border-radius: 4px;
		color: #FFFFFF;
		display: inline-flex;
		font-size: 16px;
		font-weight: 700;
		justify-content: center;
		line-height: 20px;
		padding: 12px 20px;
		text-decoration: none;
		transition: all .2s linear;
		transition-property: color, background-color;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		white-space: nowrap;
		cursor: pointer;
	}

	.success{
		flex-grow: 1;

		@media (max-width: 567px) {
			flex: none;
			order: 3;
			width: calc(50% - 6px);
		}

		.button {
			background-color: #0faf59;
			box-shadow: 0 4px 10px rgba(53, 183, 113, .25);
			color: #FFFFFF;
			justify-content: space-between;
			width: 100%;

			&.success:not(.disabled):not([disabled]):hover {
				background-color: #05c65e;
				box-shadow: 0 4px 10px rgba(5, 198, 94, .3);
				color: #fff;
			}
		}
	}

	.danger {
		flex-grow: 1;

		@media (max-width: 567px) {
			flex: none;
			margin-right: 12px;
			order: 2;
			width: calc(50% - 6px);
		}

		.button {
			background-color: #ff6251;
			box-shadow: 0 4px 10px rgba(255, 101, 84, .25);
			color: #FFFFFF;
			justify-content: space-between;
			width: 100%;

			&.danger:not(.disabled):not([disabled]):hover {
				background-color: #ff402b;
				box-shadow: 0 4px 10px rgba(255, 64, 43, .25);
				color: #fff;
			}
		}
	}

	.payout {
		align-items: center;
		display: flex;
		font-size: 13px;
		justify-content: center;
		line-height: 18px;
		margin-bottom: 15px;
		margin-top: 15px;
		text-align: center;

		@media (max-width: 1023px) {
			flex-direction: column;
			margin: 0 10px;
		}

		@media (max-width: 567px) {
			display: none;
			flex-direction: row;
			margin-bottom: 10px;
			order: 1;
			width: 100%;
		}

		b {
			margin-left: 4px;
			white-space: nowrap;
		}

		&.percent {
			margin-bottom: 4px;
			margin-top: 10px;
		}
	}

	.payout-mobile {
		display: none;

		@media (max-width: 567px) {
			align-items: center;
			color: hsla(0, 0%, 100%, 0.5);
			display: flex;
			font-size: 12px;
			justify-content: center;
			line-height: 16px;
			margin: 0 0 10px;
			text-align: center;
			width: 100%;
		}

		b {
			margin-left: 4px;
			white-space: nowrap;
			color: #FFFFFF;
		}

		@media (max-width: 375px) {
			.border {
				border-bottom: 1px dashed hsla(0, 0%, 100%, 0.1);
				height: 12px;
				margin: 0 6px;
				width: 100%;
			}
		}
	}

	.investment {
		align-items: center;
		color: hsla(0, 0%, 100%, .5);
		display: flex;
		font-size: 12px;
		justify-content: center;
		line-height: 16px;
		margin-bottom: 10px;
		text-align: center;

		@media (max-width: 1023px) {
			align-items: center;
			display: flex;
			flex-direction: column;
			font-size: 13px;
			justify-content: center;
			line-height: 18px;
			margin: 10px 10px 4px;
		}

		@media (max-width: 567px) {
			color: hsla(0, 0%, 100%, .5);
			flex-direction: row;
			font-size: 12px;
			line-height: 16px;
			margin: 0 6px 10px 0;
			width: calc(50% - 6px);

			b {
				color: #FFFFFF !important;
			}
		}

		@media (max-width: 375px) {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0;
			width: 100%;

			.border {
				border-bottom: 1px dashed hsla(0, 0%, 100%, 0.1);
				height: 12px;
				margin: 0 6px;
				width: 100%;
			}
		}

		b {
			color: hsla(0, 0%, 100%, .5);
			margin-left: 4px;
			white-space: nowrap;
		}
	}
}