@import "../../../../styles/_variables.scss";

.modal-transaction-result {
	max-width: 400px;
	width: 100% !important;
}

.header {
	border-bottom: 1px dashed $color-black-4;
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 20px;

	@media only screen and (max-width: 424px) {
		padding: 10px 10px 24px;
	}

	.title {
		color: $color-white;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
	}
}

.p-10 {
	@media (max-width: 567px) {
		padding: 10px;
	}
}

.body {
	display: flex;
	flex-direction: column;
}