<div>
    <div class="main-platform-video">
        <div class="main-video">
            <video  class="main-video-bg"
                    src="../../../assets/main_bg.mp4"
                    autoplay
                    muted
                    loop
            ></video>
        </div>
    </div>
    <div class="main-platform">
        <div class="main-platform-content">
            <div class="main-title">Innovative platform for smart investments</div>
            <div class="main-subtitle">Sign up and get 10,000 USD to your demo account to learn how to trade.</div>

            <div class="main-buttons">
                <a class="btn-green btn" href="/sign-up/">Create a free account</a>
                <div class="main-help">* The minimum deposit amount to start real trading is 10 USD</div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="main-platform-interface">
    <img class="main__platform-interface-decktop" src="../../../assets/images/main-platform.png" alt="main-platform">
    <img class="main__platform-interface-mobile" src="../../../assets/images/main-platform-mobile.png" alt="main-platform-mobile">
    <video class="main-platform-video" src="../../../assets/platform-demo.mp4" autoplay muted loop></video>
</div> -->
<div class="main-features">
    <div class="main-features-title">Features of the platform</div>
    <div class="main-features-subtitle">We regularly improve our platform to make your trading comfortable and safe.</div>

    <div class="main-features-items">
        <div class="main-features-item">
            <i class="feature-icon features-user-friendly-interface"></i>

            <div class="item-title">User-friendly interface</div>
            <div>You have access to all the trading instruments you need, and their speed is impressive.</div>

            <a href="/sign-up/" class="item-link">
                Sign up
                <span class="item-link-svg"></span>
            </a>
        </div>

        <div class="main-features-item">
            <i class="feature-icon features-integrated-signals"></i>

            <div class="item-title">Integrated signals</div>
            <div>Signals with 87% accuracy rate will help you to build a profitable strategy.</div>

            <a href="/sign-up/" class="item-link">
                Try it
                <span class="item-link-svg"></span>
            </a>
        </div>

        <div class="main-features-item">
            <i class="feature-icon features-trading-indicators"></i>

            <div class="item-title">Trading indicators</div>
            <div>We have collected the most useful trading indicators for you. Test them on a demo account to see which ones best suit your trading style.</div>

            <a href="/sign-up/" class="item-link">
                Explore
                <span class="item-link-svg"></span>
            </a>
        </div>

        <div class="main-features-item">
            <i class="feature-icon features-support"></i>

            <div class="item-title">Support 24/7</div>
            <div>Our highly trained support staff is ready to assist you at any time.</div>

            <a href="/sign-up/" class="item-link">
                Submit a request
                <span class="item-link-svg"></span>
            </a>
        </div>

        <div class="main-features-item">
            <i class="feature-icon features-bonus-programs"></i>

            <div class="item-title">Bonus programs</div>
            <div>Participate in tournaments and giveaways for traders to get bonuses.</div>

            <a href="/sign-up/" class="item-link">
                Get a bonus
                <span class="item-link-svg"></span>
            </a>
        </div>

        <div class="main-features-item">
            <i class="feature-icon features-deposits-withdrawals"></i>

            <div class="item-title">Deposits and withdrawals</div>
            <div>Various deposit options and fast withdrawal of funds. The minimum deposit is only 10 USD.</div>

            <a href="/sign-up/" class="item-link">
                Start trading
                <span class="item-link-svg"></span>
            </a>
        </div>
    </div>

    <div class="features-demo">
        <div class="features-demo-text">
        <img src="../../../assets/images/main/demo.png" alt="demo">
            <div>
                <p class="text">Trade on demo – no registration is required!</p>
                <p class="text">Or register a personal account to access additional features.</p>
            </div>
        </div>

        <div class="demo-buttons">
            <a href="/sign-up/" class="btn button-demo">Try demo</a>
            <a href="/sign-up/" class="btn btn-green">Register an account</a>
        </div>
    </div>
</div>

<div class="capital">
    <div class="capital-area">
        <div>
            <div class="capital-title">Grow your capital by making the right trading predictions</div>
            <div class="capital-subtitle">Will the price go up or down? Predict the price movement of a trading asset and place a trade.</div>

            <div class="capital-buttons">
                <a href="/sign-up/" class="btn btn-green">Try it for free</a>

                <div class="capital-demo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M8.97081 1.44455C9.27637 1.11452 9.27637 0.590956 8.97081 0.260926C8.64403 -0.0920145 8.10001 -0.0850199 7.79051 0.270467L3.02916 5.41299C2.88019 5.57389 2.79998 5.79045 2.79998 6.00481C2.79998 6.2264 2.87901 6.43445 3.02916 6.59662L7.79051 11.7391C8.11254 12.087 8.64878 12.087 8.97081 11.7391C9.27637 11.4091 9.27637 10.8856 8.97081 10.5555L4.74885 5.99557L8.97081 1.44455Z" fill="black" fill-opacity="0.5"></path>
                    </svg>
                    <div>Practice on a demo account without registration.</div>
                </div>
            </div>

            <i class="icon-chart">
                <div class="capital-dot"></div>
            </i>
        </div>

        <div class="capital-money">
            <img class="capital-money-image" src="../../../assets/images/main/capital-money.png" alt="capital-money">
        </div>

        <div class="capital-items">
            <div class="capital-item">
                <div class="capital-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M2 2.5L5 11.5L7 7.5L11 5.5L2 2.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                        <path d="M16 13.5V19.5" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                        <path d="M13 16.5H19" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                        <path d="M16 23.5C19.866 23.5 23 20.366 23 16.5C23 12.634 19.866 9.5 16 9.5C12.134 9.5 9 12.634 9 16.5C9 20.366 12.134 23.5 16 23.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                    </svg>
                </div>
                <div>1. Select an asset</div>
            </div>
            <div class="capital-item">
                <div class="capital-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                        <path d="M1 11.5H6L9 6.5L13 16.5L16 11.5H21" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                        <path d="M19 1.5H3C1.89543 1.5 1 2.39543 1 3.5V19.5C1 20.6046 1.89543 21.5 3 21.5H19C20.1046 21.5 21 20.6046 21 19.5V3.5C21 2.39543 20.1046 1.5 19 1.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                    </svg>
                </div>

                <div>2. Monitor the chart</div>
            </div>
            <div class="capital-item">
                <div class="capital-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
                        <path d="M14 6.49993L11.828 8.67193C11.0779 9.42181 10.0607 9.84307 9 9.84307C7.93934 9.84307 6.92211 9.42181 6.172 8.67193L6 8.49993L10.929 3.57093C12.2552 2.24507 14.0537 1.50024 15.929 1.50024C17.8043 1.50024 19.6028 2.24507 20.929 3.57093C22.0427 4.68473 22.7528 6.13836 22.9468 7.70145C23.1408 9.26453 22.8076 10.8477 22 12.1999" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                        <path d="M15.266 9.766L18.879 13.379C19.4414 13.9416 19.7573 14.7045 19.7573 15.5C19.7573 16.2955 19.4414 17.0584 18.879 17.621L17.243 19.257C16.6858 19.8143 16.0243 20.2563 15.2963 20.5579C14.5683 20.8595 13.788 21.0147 13 21.0147C12.212 21.0147 11.4317 20.8595 10.7037 20.5579C9.97563 20.2563 9.31415 19.8143 8.75699 19.257L3.07099 13.571C1.74513 12.2448 1.00031 10.4463 1.00031 8.571C1.00031 6.69571 1.74513 4.8972 3.07099 3.571C4.37823 2.26011 6.14876 1.51619 7.99999 1.5" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                        <path d="M18.391 18.109L14.5 14.219" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                        <path d="M15.5129 20.465L11.8829 16.835" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                    </svg>
                </div>

                <div>3. Place a trade</div>
            </div>
            <div class="capital-item">
                <div class="capital-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M7 13.5H1V1.5H19V9.671" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                        <path d="M11 12.5V16.5C11 18.157 13.686 19.5 17 19.5C20.314 19.5 23 18.157 23 16.5V12.5" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                        <path d="M11 16.5V20.5C11 22.157 13.686 23.5 17 23.5C20.314 23.5 23 22.157 23 20.5V16.5" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                        <path d="M17 15.5C20.3137 15.5 23 14.1569 23 12.5C23 10.8431 20.3137 9.5 17 9.5C13.6863 9.5 11 10.8431 11 12.5C11 14.1569 13.6863 15.5 17 15.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                        <path d="M10 8.5C10.5523 8.5 11 8.05228 11 7.5C11 6.94772 10.5523 6.5 10 6.5C9.44772 6.5 9 6.94772 9 7.5C9 8.05228 9.44772 8.5 10 8.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                        <path d="M10 8.5C10.5523 8.5 11 8.05228 11 7.5C11 6.94772 10.5523 6.5 10 6.5C9.44772 6.5 9 6.94772 9 7.5C9 8.05228 9.44772 8.5 10 8.5Z" fill="white"></path>
                    </svg>
                </div>

                <div>4. Get the result</div>
            </div>
        </div>
    </div>
</div>

<div class="appendix">
    <div class="appendix-mobile">
        <img class="appendix-mobile-image" src="../../../assets/images/main/appendix-mobile.png" alt="appendix-mobile">
    </div>

    <img class="appendix-bg" src="../../../assets/images/main/appendix-bg.png" alt="appendix-bg">

    <div class="appendix-text">
        <h2 class="appendix-title">Mobile app is always at your fingertips</h2>
        <p class="appendix-subtitle">Download our user-friendly trading app to your mobile device and start trading.</p>

        <div class="appendix-buttons">
            <a href="https://play.google.com/store/apps/details?id=io.quotex">
                <i class="icon appendix-playmarket"></i>
            </a>
            <div>
                <i class="icon appendix-appstore"></i>
            </div>
        </div>
    </div>
</div>

<div class="main-questions">
    <p class="main-questions-title">Frequently asked questions</p>

    <p class="main-questions-subtitle">See the the most common questions of new traders answered here.</p>

    <div class="questions-section main-questions-section">
        <div>
            <input class="section-checkbox" type="checkbox" id="faq-1">
            <div class="question-block">
                <label for="faq-1" class="question-label">
                    How do I learn how to trade?
                    <span class="label-icon icon-plus"></span>
                    <span class="label-icon icon-minus"></span>
                </label>
                <div class="hidden-text">
                    <div>Sign up and start practicing on a free demo account. It is just like real trading, except virtual funds are used.</div>
                </div>
            </div>
        </div>
        
        <div>
            <input class="section-checkbox" type="checkbox" id="faq-2">
            <div class="question-block">
                <label for="faq-2" class="question-label">
                    How long does it take to withdraw funds?
                    <span class="label-icon icon-plus"></span>
                    <span class="label-icon icon-minus"></span>
                </label>
                <div class="hidden-text">
                    <div>
                        Generally, a withdrawal procedure may take from 1 to 5 days, starting from the date you place a request. The actual time will depend on the current volume of withdrawals that are being processed at the same time. We do our best to withdraw your funds as soon as it is possible.
                    </div>
                </div>
            </div>
        </div>

        <div>
            <input class="section-checkbox" type="checkbox" id="faq-3">
            <div class="question-block">
                <label for="faq-3" class="question-label">
                    What is trading platform and what it is for?
                    <span class="label-icon icon-plus"></span>
                    <span class="label-icon icon-minus"></span>
                </label>
                <div class="hidden-text">
                    <div>
                        A trading platform is a software solution that allows you to perform trading operations using various financial instruments. You will also have access to the essential data such as asset quotes, real-time market positions, revenue percentage etc.                    </div>
                </div>
            </div>
        </div>

        <div>
            <input class="section-checkbox" type="checkbox" id="faq-4">
            <div class="question-block">
                <label for="faq-4" class="question-label">
                    Can I trade using a phone / mobile device?
                    <span class="label-icon icon-plus"></span>
                    <span class="label-icon icon-minus"></span>
                </label>
                <div class="hidden-text">
                    <div>
                        Yes, the platform is optimized to run on almost any modern computer or mobile device. You can use either the browser version, or the Android app.
                    </div>
                </div>
            </div>
        </div>

        <div>
            <input class="section-checkbox" type="checkbox" id="faq-5">
            <div class="question-block">
                <label for="faq-5" class="question-label">
                    What is the minimum deposit amount?
                    <span class="label-icon icon-plus"></span>
                    <span class="label-icon icon-minus"></span>
                </label>
                <div class="hidden-text">
                    <div>
                        The main advantage is that you don’t have to invest large amounts to trade on the platform. You can simply start with a deposit of 10 US dollars.
                    </div>
                </div>
            </div>
        </div>

        <div>
            <input class="section-checkbox" type="checkbox" id="faq-6">
            <div class="question-block">
                <label for="faq-6" class="question-label">
                    Are there any deposit or withdrawal fees?
                    <span class="label-icon icon-plus"></span>
                    <span class="label-icon icon-minus"></span>
                </label>
                <div class="hidden-text">
                    <div>No, the broker does not charge any deposit/withdrawal fees.</div>
                    <br>
                    <div>However, you should be aware that such fees may be imposed by the third-party payment providers that you may be using. They may also apply their own currency conversion rate.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-questions-bottom">
        <div class="bottom-text">
            <div>Do you have other questions?</div>
            <div>Go to all questions in the <a class="bottom-link" href="/faq/">FAQ section</a> or <a class="bottom-link" href="/support/">contact us</a>.</div>
        </div>

        <img class="image-bottom" src="../../../assets/images/main/about-us-questions.png" alt="about-us-questions">
    </div>
</div>