<div class="container">
    <div class="content">
        <div class="body">
            <ng-container *ngIf="currentStep === 1">
                <form class="form" [formGroup]="recoverPasswordForm" (ngSubmit)="changePassword()">
                    <h2 class="title">Account Restore</h2>
                    <div class="description">
                        To change you password, please enter the email address you used when registering your account
                    </div>
                    <div class="form-field">
                        <input  type="password" 
                                class="form-input" 
                                formControlName="oldPassword" 
                                placeholder="New Password"
                                [ngClass]="{ 'danger': formSubmitted && f['oldPassword'].errors }">
                        <ng-container *ngIf="formSubmitted && f['oldPassword'].errors">
                            <div class="form-hint" *ngIf="f['oldPassword'].errors?.['required']; else minLengthError">
                                <span class="form-error">This field is required</span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-field">
                        <input  type="password" 
                                class="form-input" 
                                formControlName="newPassword" 
                                placeholder="Confirm Password"
                                [ngClass]="{ 'danger': formSubmitted && (f['newPassword'].errors || recoverPasswordForm.errors) }">
                        <ng-container *ngIf="formSubmitted && (f['newPassword'].errors || recoverPasswordForm.errors)">
                            <div class="form-hint"  *ngIf="f['newPassword'].errors?.['required']; else matchError">
                                <span class="form-error">This field is required</span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-field">
                        <button class="primary-button">Change Password</button>
                    </div>
                </form>
            </ng-container>

            <ng-container *ngIf="currentStep === 2">
                <div class="form-field email-container">
                    <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15.5" r="15" fill="#0FAF59"></circle>
                        <path d="M10.1154 16.4C10.0385 16.32 10 16.2 10 16.12C10 16.04 10.0385 15.92 10.1154 15.84L10.6538 15.28C10.8077 15.12 11.0385 15.12 11.1923 15.28L11.2308 15.32L13.3462 17.68C13.4231 17.76 13.5385 17.76 13.6154 17.68L18.7692 12.12H18.8077C18.9615 11.96 19.1923 11.96 19.3462 12.12L19.8846 12.68C20.0385 12.84 20.0385 13.08 19.8846 13.24L13.7308 19.88C13.6538 19.96 13.5769 20 13.4615 20C13.3462 20 13.2692 19.96 13.1923 19.88L10.1923 16.52L10.1154 16.4Z" fill="white"></path>
                    </svg>
                    <div class="title">Password is changed!</div>
                    <div>{{ email }}</div>
                </div>
                <div class="description">You can authorize in our trading system with the new password.</div>
                <div class="form-field">
                    <button class="primary-button" (click)="goToSignIn()">Sign In</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #minLengthError>
    <div class="form-hint" *ngIf="f['oldPassword'].errors?.['minlength']">
        <span class="form-error">The New Password field must be at least 6 characters in length</span>
    </div>
</ng-template>

<ng-template #matchError>
    <div class="form-hint" *ngIf="recoverPasswordForm.hasError('passwordMismatch')">
        <span class="form-error">The Confirm Password field does not match the New Password field</span>
    </div>
</ng-template>