<div class="container">
    <div class="content">
        <div class="header">
            <app-navigation-links></app-navigation-links>
           	<app-balance-values></app-balance-values>
        </div>
		<div class="page-sections">
			<div class="page-sections-row bonus">
				<div class="page-sections-column grow-3of5">
					<div class="page-sections-row">
						<div class="content-section grow-1of3">
							<div class="content-section-head">
								Chosen payment method:
							</div>
							<div class="payment-provider active block">
								<div class="payment-provider-logo"></div>
								<span>{{ transaction?.paymentSystem }}</span>
							</div>
							<a class="content-section-head-action link back" (click)="navigateToDeposit()" [style.z-index]="10">
								<img class="icon icon-primary" src="assets/images/icomoon-fails/caret-right.svg">
								<span>Change amount</span>
							</a>	
						</div>
						<div class="content-section grow-2of3">
							<div class="form-row">
								<div>
									<div class="qr-code-title">{{ 'Deposit ' + (transaction?.amount | currency) + ' via ' + transaction?.paymentSystem }}</div>
									<div>&nbsp;</div>
									<div class="form-warning">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="10" cy="10" r="10" fill="#FF8A00"></circle>
											<path d="M10 15.8327C9.31092 15.8327 8.75 15.3092 8.75 14.666C8.75 14.0229 9.31092 13.4994 10 13.4994C10.6891 13.4994 11.25 14.0229 11.25 14.666C11.25 15.3092 10.6891 15.8327 10 15.8327ZM11.25 11.166C11.25 11.8092 10.6891 12.3327 10 12.3327C9.31092 12.3327 8.75 11.8092 8.75 11.166V5.33268C8.75 4.68954 9.31092 4.16602 10 4.16602C10.6891 4.16602 11.25 4.68954 11.25 5.33268V11.166Z" fill="white"></path>
										</svg>
										<div>
											When transferring funds indicate the amount exactly as indicated in the instructions below.
										</div>
									</div>
									<div class="qr-code">
										<div class="qr-code-image">
											<img [src]="wallet?.qrCode" alt="">
										</div>
										<div class="qr-code-info">
											<div>
												<p>{{ 'To complete the payment transfer ' + transaction?.amount + ' USD to address' }}
													<br>
													<b style="word-break: break-all;">{{ wallet?.walletAddress }}</b>
												</p>
												<p>
													Expires
													<span>{{ remainingTime }}</span>
												</p>
											</div>
											<div class="form-row form-row-start form-row--keep-row">
												<button class="button button-primary" (click)="copy(wallet?.walletAddress)">Copy address</button>
												<button class="button button-primary" (click)="copy(transaction?.amount?.toString())">Copy amount</button>
											</div>
											<div>
												<div class="qr-code-waiting">
													<div class="qr-code-waiting-block">
														<div class="qr-code-waiting-loader">
															<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve">
																<path fill="#026fd3" d="M64.4 16a49 49 0 0 0-50 48 51 51 0 0 0 50 52.2 53 53 0 0 0 54-52c-.7-48-45-55.7-45-55.7s45.3 3.8 49 55.6c.8 32-24.8 59.5-58 60.2-33 .8-61.4-25.7-62-60C1.3 29.8 28.8.6 64.3 0c0 0 8.5 0 8.7 8.4 0 8-8.6 7.6-8.6 7.6z"></path>
															</svg>
														</div>
														<div class="qr-code-waiting-text">Waiting for Payment...</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div>&nbsp;</div>
									<div class="alert alert-danger">
										<div class="alert-icon">
											<span class="icon-alert"></span>
										</div>
										<div class="alert-message">
											To complete, confirm the operation.
										</div>
									</div>
									<div>&nbsp;</div>
									<div class="btn btn-green" (click)="showConfirmTransactionDialog()">Confirm</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-sections-column grow-2of5 faq-block">
					<div class="page-sections-row">
						<div class="content-section grow-full">
							<div class="content-section-head">
								<span>FAQ:</span>
								<a class="content-section-head-action link" [routerLink]="['/faq']" [style.z-index]="10">
                                    <span>Check out full FAQ</span>
                                    <img class="icon icon-primary" src="assets/images/icomoon-fails/caret-right.svg">
                                </a>	
							</div>
							<div class="faq faq-columns">
                                <div class="faq-column">
									<div class="faq-item" *ngFor="let item of faq">
                                        <div class="faq-question" [ngClass]="item.toggled ? 'active' : ''" (click)="item.toggled = !item.toggled">
                                            {{ item.question }}
                                        </div>
                                        <div class="faq-answer" [innerHTML]="item.answer"></div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-brands-footer></app-brands-footer>
	</div>
</div>