<div class="sign-form">
    <div class="sign-form-container">
        <div class="form-title">Password Recovery</div>

        <div class="form-area">
            <div class="area-tabs">
                <div class="tabs">
                    <a href="sign-in/" class="tab">Login</a>
                    <a href="/sign-up/" class="tab" >Registration</a>
                </div>
            </div>
            <div id="tab-1" class="tabs__item active">
                <ng-container *ngIf="currentStep === 1">
                    <form [formGroup]="confirmEmailForm" (ngSubmit)="sendEmail()">
                        <div class="form-inner-text">To change you password, please enter the email address you used when registering your account</div>
                        <div class="form-input">
                            <label class="input-label">Email</label>
                            <input type="email" name="email" value="" class="input input-value" placeholder="Email" formControlName="email" required>
                        </div>
    
                        <button class="btn form-button" type="submit">
                            <div>Confirm email</div>
                            <span class="icon-button"></span>
                        </button>
                    </form>
                </ng-container>
                <ng-container *ngIf="currentStep === 2">
                    <div class="sign-email-icon">
                        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.267578" y="0.5" width="56" height="56" rx="12" fill="white"></rect>
                            <rect x="0.267578" y="0.5" width="56" height="56" rx="12" fill="white"></rect>
                            <path d="M17.293 35V23C17.293 21.8954 18.1884 21 19.293 21H20.9596H27.7129H35.0152H37.293C38.3975 21 39.293 21.8954 39.293 23V35C39.293 36.1046 38.3975 37 37.293 37H19.293C18.1884 37 17.293 36.1046 17.293 35Z" stroke="#3690F2" stroke-width="1.98816"></path>
                            <path d="M20.293 24.5L20.293 24.904C20.293 25.3833 20.522 25.8337 20.9092 26.116L27.4092 30.8556C27.9358 31.2396 28.6501 31.2396 29.1767 30.8556L35.6767 26.116C36.064 25.8337 36.293 25.3833 36.293 24.904L36.293 24.5" stroke="#3690F2" stroke-width="1.98816"></path>
                        </svg>
                    </div>
                    <div class="sign-email-title">Password recovery</div>
                    <div class="sign-email">{{ email }}</div>
                    <div class="sign-text-success">
                        Check your email. We sent you a link, so that you can restore access to your account and change your password.
                    </div>
                </ng-container>

                <div class="form-footer">
                    <div class="header">
                        <div class="text">Sign in via</div>
                    </div>

                    <div class="form-social">
                        <a class="social-button facebook">
                            <i class="icon icon-facebook-login"></i>
                        </a>
                        <a class="social-button google">
                            <i class="icon icon-google"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="popup-modal__footer"></div>
        </div>
    </div>
</div>